/.idea
/AppPotes-web/node_modules/*
/AppPotes-web/src/assets/img/*
/AppPotes-api/vendor/*
/AppPotes-api/storage/app/public/*
/AppPotes-api/public/storage/*
AppPotes-web/package-lock.json
AppPotes-api/.vscode/launch.json
AppPotes-web/.vscode/launch.json
