<app-nav-bar></app-nav-bar>
<main>
    <!-- ADD FORM -->
    <form id="content-add-album" [formGroup]="albumForm">
        <section class="content-add">
            <div class="title">
                <h2>Ajout<br>album</h2>
            </div>

            <div class="add-visuel">
                <label for="add-visuel">Ajouter une vignette
                    <span class="icon icon-add">
                        <img *ngIf="isUpdate" [src]="host+'/img/'+album.artwork" alt="vignette album">
                    </span>
                </label>
                <input id="add-visuel" (change)="handleFileSelect($event, true)" type="file">
            </div>

            <div class="content-form-add">
                <label>Titre de l'album :</label>
                <input type="name" placeholder="(max 00 caractères)" [value]="album.name" formControlName="name">
                <label>Déscriptif de l’album :</label>
                <textarea placeholder="(max 00 caractères)" [value]="album.description" formControlName="description" cols="30" rows="2"></textarea>
            </div>

            <div class="content-btn-page">
                <button class="btn-page" (click)="cancel()"><span>Annuler</span></button>
                <button class="btn-page" (click)="validate()" [disabled]="disableValidate"><span>Valider</span></button>
            </div>
        </section>

        <!-- GRID ADD PHOTOS -->
        <section class="content-grid-add">

            <!-- Gallery -->
            <div class="demo-gallery">
                <ul id="lightgallery" class="list-unstyled row" class="col-xs-6 col-sm-4 col-md-3">
                    <li *ngFor="let photo of photos" >
                        <div class="pic-delete">
                            <img width="100px" height="100px" class="img-responsive" [src]="host+'/img/'+photo.path" alt="Thumb-1">
                            <span (click)="deletePhoto(photo.id)" class="icon icon-close"></span>
                        </div>
                    </li>

                    <li *ngFor="let addPhoto of idsPhoto" >
                        <img width="100px" height="100px" class="img-responsive" [src]="host+'/img/tmp/'+addPhoto+'.png'" alt="Thumb-1">
                    </li>
                </ul>
            </div>
            <!-- Gallery -->

            <!-- Add button -->               
            <!-- <a class="reveal" [routerLink]="'/photo-add/'+ album.id" routerLinkActive="active"><li><div class="icon-btn icon icon-add-pic"></div></li>Ajouter<br>vos photos</a> --> 
            <div class="add-photos">
                <label for="add-photos">
                    <span class="icon-btn icon icon-add-pic"></span>
                </label>
                <input id="add-photos" type="file" (click)="resetPhotos()" (change)="handleFileSelect($event, false)" multiple/>
            </div>
            
        </section>
    </form>
</main>