<app-nav-bar></app-nav-bar>
<ngx-spinner></ngx-spinner>
<main>
    <!-- ADD FORM -->
    <form id="content-add-album" [formGroup]="albumForm">
        <section class="content-add">
            <div class="title">
                <h2 *ngIf="!isUpdate">Ajout<br>album</h2>
                <h2 *ngIf="isUpdate">Modifier<br>album</h2>
                <button *ngIf="isUpdate && album.id != 1" class="btn-page" (click)="delete(album.id, 'album')"><span>Supprimer</span></button>
            </div>
            
            <app-upload-images
            [isMultipleUpload]="false"
            [fileToUpload]="cover"
            [simpleImagePath]="getCover()"
            (newCoverEvent)="updateCover($event)" ></app-upload-images>

            <div class="content-form-add">
                <mat-form-field appearance="fill">
                    <mat-label>Titre de l'album :</mat-label>
                    <input matInput type="name" placeholder="(max 00 caractères)" [value]="album.name" formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Descriptif de l’album :</mat-label>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="6" placeholder="(max 00 caractères)" [value]="album.description" formControlName="description" cols="30" rows="1"></textarea>
                </mat-form-field>
                <div class="form-radio-btn">
                    <label>Rendre l'album public :</label>
                    <mat-radio-group appearance="fill" class="content-form-radio" formControlName="isPublic">
                        <mat-radio-button matInput [checked]="album.status == 1" value="1">oui</mat-radio-button>
                        <mat-radio-button matInput [checked]="album.status == 0" value="0">non</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="content-btn-page">
                <button class="btn-page" (click)="cancel()"><span>Annuler</span></button>
                <button class="btn-page" (click)="validate()" [disabled]="disableValidate"><span>Valider</span></button>
            </div>
        </section>

        <!-- GRID ADD PHOTOS -->
        <section class="content-grid-add">

            <!-- Gallery -->
            <div class="demo-gallery">
                <ul id="lightgallery" class="list-unstyled row" class="col-xs-6 col-sm-4 col-md-3">
                    <li *ngFor="let photo of photos" >
                        <div class="pic-delete">
                            <img width="100px" height="100px" class="img-responsive" [src]="host+photo.path" alt="Thumb-1">
                            <span (click)="delete(photo.id, 'photo')" class="icon icon-close"></span>
                        </div>
                    </li>
                    <li *ngFor="let uploadPhoto of photosToUpload">
                        <div class="pic-delete">
                            <img id="uploadPhoto" width="100px" height="100px" [src]="uploadPhoto.b64_image" class="img-responsive" alt="Thumb-1">
                            <span (click)="deleteTmpPhoto(uploadPhoto.id)" class="icon icon-close"></span>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Add button -->               
            <app-upload-images [isMultipleUpload]="true" [filesToUpload]="photosToUpload"></app-upload-images>    
        </section>
    </form>
</main>