<app-nav-bar></app-nav-bar>
<main>
    <!-- FORMULAIRE AJOUT -->
    <form id="content-add-album" [formGroup]="albumForm" (ngSubmit)="onSubmitForm()">
        <section class="content-add">
            <div class="title">
                <h2>Ajout<br>album</h2>
            </div>

            <div class="add-visuel">
                <label for="add-visuel">Ajouter une vignette<span class="icon icon-add"><img *ngIf="album.artwork" [src]="'assets/img/'+album.artwork" alt="vignette album"></span></label>
                <input id="add-visuel" type="file">
            </div>

            <div class="content-form-add">
                <label>Titre de l'album :</label>
                <input type="name" placeholder="(max 00 caractères)" [value]="album.name">
                <label>Déscriptif de l’album :</label>
                <textarea onkeyup="auto_grow(this)" placeholder="(max 00 caractères)" cols="30" rows="1">{{ album.description }}</textarea>
            </div>

            <div class="content-btn-page">
                <a class="btn-page" (click)="cancel()"><span>Annuler</span></a>
                <a class="btn-page" (click)="validate()"><span>Valider</span></a>
            </div>
        </section>

        <!-- GRID AJOUT PHOTOS -->
        <section class="content-grid-add">

            <!-- Gallery -->
            <div class="demo-gallery">
                <ul id="lightgallery" class="list-unstyled row" class="col-xs-6 col-sm-4 col-md-3">
                    <li *ngFor="let photo of photos" >
                        <img width="100px" height="100px" class="img-responsive" [src]="'assets/img/'+album.name+'/'+photo.path" alt="Thumb-1">
                    </li>
                </ul>
            </div>
            <!-- Gallery -->

            <!-- Button add -->
            <ul class="btn-add">
                <a class="reveal"><li><div class="icon-btn icon icon-add-pic"></div></li>Ajouter<br>vos photos</a>
            </ul>
            
        </section>
    </form>
</main>