<app-nav-bar></app-nav-bar>
<main id="content-compte">
	
  <section class="info-compte">
    <div class="profil-infos">
      <div class="profil-pic">
        <img *ngIf="this.user" [src]="user.photo.b64_image" alt="photo de profile du compte"/>
      </div>
      <div class="title">
        <h2>Hey !<br/>{{user.name}} 😀</h2>
      </div>
    </div>

    <div class="profil-opt">
      <a class="icon icon-down" (click)="logout()"></a>
      <a class="icon icon-sitting" [routerLink]="'/account-option'"></a>
    </div>
  </section>

  <section class="tab-compte">
    <div class="tab">
      <button class="tablinks" id="defaultOpen">Albums</button>
    </div>
    <div class="content-tab">
      <div id="Albums" id="profil-album" class="tabcontent">
        <!-- GRID ALBUMS -->
        <section class="grid-gen grid-album">
          <a *ngFor="let album of albums" [routerLink]="'/album/'+album.id" routerLinkActive="active">
            <div id="album album-grid" class="album" >
              <img [src]="album.photo.b64_image" alt="vignette de l'album commun"/> 
              <p>{{ album.name }}</p> 
            </div>
          </a>
        </section>
      </div>
    </div>
  </section>
</main>