<app-nav-bar></app-nav-bar>
<main id="content-pic">
	<!-- HEADER ALBUM -->
	<section id="header-pic">
		<!-- Vignette album -->
		<img [src]="host+getCover(album)" alt="Couverture l'album">
		
		<!-- Infos album -->
    <div>
      <p>Créé le <span>{{ album.date_created }}</span></p>
      <h1>{{ album.name }}</h1>
      <p>{{ album.description }}</p>
    </div>
	</section>

	<section id="grid-pic">
		<a class="reveal" [routerLink]="'/album-add/'+idAlbum" routerLinkActive="active"><div class="icon-btn icon icon-add-pic"></div>Modfier<br>l'album</a>
    	<ngx-gallery *ngIf="photos.length != null" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
	</section>
</main>