<app-nav-bar></app-nav-bar>
<main id="content-pic">
	<!-- HEADER ALBUM -->
	<section id="header-pic">
		<!-- Vignette album -->
		<img [src]="host+getCover(album)" alt="Couverture l'album">
		
		<!-- Infos album -->
    <div>
      <p>Créé le <span>{{ album.date_created }}</span></p>
      <h1>{{ album.name }}</h1>
      <p>{{ album.description }}</p>
    </div>
	</section>

	<section id="grid-pic">
		<a class="reveal" [routerLink]="'/album-add/'+idAlbum" routerLinkActive="active"><div class="icon-btn icon icon-add-pic"></div>Modfier<br>l'album</a>

    <!-- GALLERY -->
    <div class="demo-gallery">
        <ul id="lightgallery" class="list-unstyled row">

          <!-- Show each photo -->
          <li *ngFor="let photo of photos" class="col-xs-6 col-sm-4 col-md-3">
            <a [href]="host+photo.path">
              <img class="img-responsive" [src]="host+photo.path" alt="Thumb-1">
            </a>
          </li>
          
        </ul>
    </div>
    <!-- #GALLERY -->
    
	</section>
</main>