<div *ngIf="!isMultipleUpload" class="add-visuel">
  <label for="add-visuel">Ajouter une vignette
      <span class="icon icon-add">
          <img *ngIf="simpleImage" [src]="simpleImage.b64_image">
      </span>
  </label>
  <input id="add-visuel" (change)="handleFileSelect($event)" type="file">
</div>

<div *ngIf="isMultipleUpload" class="dropzone" (fileDropped)="managePhotosUpload($event)"  appDnd>
  <div class="add-photos">
  <label for="add-photos">
      <span class="icon-btn icon icon-add-pic"></span>
  </label>
  <input id="add-photos" type="file" (change)="handleFileSelect($event)" multiple/>
  </div>
  <span>Glisser/déposer vos photos ou les parcourir</span>
</div>     