<!-- CONTENT HOMEPAGE -->
<app-nav-bar></app-nav-bar>
<main id="content-home">
  <!-- DERNIERS ALBUMS -->
  <section>
    <!-- title -->
    <a routerLink="/album" routerLinkActive="active">
      <div class=" title">
        <h2>Derniers<br>Albums</h2>
        <span class="icon icon-arrow-26"></span>
      </div>
    </a>

    <a routerLink="/album/1" routerLinkActive="active">
      <div id="album-com" class="album" >
        <img [src]="host+getCover(sharedAlbum)" alt="vignette de l'album commun"/> 
        <p>{{ sharedAlbum.name }}</p> 
      </div> 
    </a>

    <!-- GRID ALBUMS -->
    <div class="grid-album">
      <a *ngFor="let album of albums" [routerLink]="'/album/'+album.id" routerLinkActive="active">
        <div id="album album-grid" class="album">
          <img [src]="host+getCover(album)" alt="vignette de l'album commun"/> 
          <p>{{ album.name }}</p> 
        </div> 
      </a>
    </div>
  </section>
</main>