<div class="modal-container">
  <h2 mat-dialog-title>Modification de mot de passe</h2>
  <form class="modal-form" [formGroup]="passwdForm" (ngSubmit)="onValidate()">
    <mat-form-field appearance="fill">
      <mat-label for="old-mp">Ancien mot de passe :</mat-label>
      <input matInput id="old-mp" type="password" name="oldpwd" formControlName="oldPassword">
      <mat-error>
        Ce champs est obligatoire
    </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="new-mp">Nouveau mot de passe :</mat-label>
      <input matInput id="new-mp" type="password" name="newpwd" formControlName="newPassword">
      <mat-error>
        Ce champs est obligatoire
    </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="new-mp2">Tapez à nouveau :</mat-label>
      <input matInput id="new-mp2" type="password" name="newpwd2" formControlName="newPassword2">
      <mat-error>
        Ce champs est obligatoire
    </mat-error>
    </mat-form-field>
    <div class="error" *ngIf="disableValidate()">
      <span>Les mots de passes ne sont pas identiques</span>
    </div>
    <section class="content-btn-page">
      <button class="btn-page" (click)="onCancel()"><span>Annuler</span></button>
      <button class="btn-page" (click)="onValidate()" [disabled]="disableValidate()" cdkFocusInitial><span>Valider</span></button>
    </section>
  </form>
</div>