<div class="modal-container">
  <h2 mat-dialog-title>Modification<br>de mot de passe</h2>
  <div class="modal-form">
    <label for="old-mp">Ancien mot de passe :</label>
    <input matInput id="old-mp" type="password" name="old mp">
    <label for="old-mp">Nouveau mot de passe :</label>
    <input matInput id="new-mp" type="password" name="new mp">
    <label for="old-mp">Tapez à nouveau :</label>
    <input matInput id="new-mp2" type="password" name="new mp2">
  </div>
  <section mat-dialog-actions class="content-btn-page">
    <button class="btn-page" (click)="onNoClick()"><span>Annuler</span></button>
    <button class="btn-page" [mat-dialog-close]="data.animal" cdkFocusInitial><span>Valider</span></button>
  </section>
</div> 