<div class="modal-container">
  <h2 mat-dialog-title>Modification<br>de mot de passe</h2>
  <form class="modal-form" [formGroup]="passwdForm" (ngSubmit)="validate()">
    <label for="old-mp">Ancien mot de passe :</label>
    <input matInput id="old-mp" type="password" name="oldpwd" formControlName="oldPassword">
    <label for="old-mp">Nouveau mot de passe :</label>
    <input matInput id="new-mp" type="password" name="newpwd" formControlName="newPassword">
    <label for="old-mp">Tapez à nouveau :</label>
    <input matInput id="new-mp2" type="password" name="newpwd2" formControlName="newPassword2">
  </form>
  <section mat-dialog-actions class="content-btn-page">
    <button class="btn-page" (click)="onCancel()"><span>Annuler</span></button>
    <button class="btn-page" (click)="onValidate()" cdkFocusInitial><span>Valider</span></button>
  </section>
</div> 