<app-nav-bar></app-nav-bar>
<main id="content-pic">
	<!-- HEADER ALBUM -->
	<section id="header-pic">
		<!-- Vignette album -->
		<img [src]="'assets/img/'+album.artwork" alt="Couverture l'album">
		
		<!-- Infos album -->
    <div>
      <p>Créé le <span>{{ album.date }}</span></p>
      <h1>{{ album.name }}</h1>
      <p>{{ album.description }}</p>
    </div>
		
		<!-- Bouton joindre -->
		<button>Joindre à un événement</button>
	</section>

	<section id="grid-pic">
		<a class="reveal" [routerLink]="'/album-add/'+album.id" routerLinkActive="active"><div class="icon-btn icon icon-add-pic"></div>Ajouter<br>vos photos</a>

    <!-- GALLERY -->
    <div class="demo-gallery">
        <ul id="lightgallery" class="list-unstyled row">
          <li *ngFor="let picture of pictures" class="col-xs-6 col-sm-4 col-md-3">
            <a [href]="'assets/img/'+album.name+'/'+picture.path">
              <img class="img-responsive" [src]="'assets/img/'+album.name+'/'+picture.path" alt="Thumb-1">
            </a>
          </li>
        </ul>
    </div>
    <!-- #GALLERY -->
    
	</section>
</main>