<!-- CONTENT HOMEPAGE -->
<app-nav-bar></app-nav-bar>
<main id="content-home">
  <!-- DERNIERS ALBUMS -->
  <section>
    <!-- title -->
    <a routerLink="/album" routerLinkActive="active">
      <div class=" title">
        <h2>Derniers<br>Albums</h2>
        <span class="icon icon-arrow-26"></span>
      </div>
    </a>

    <!-- GRID ALBUMS -->
    <div class="grid-album">
      <a routerLink="/album" routerLinkActive="active">
        <div id="album-com" class="album" >
          <img src="" alt="vignette de l'album commun"/> 
          <p>titre album</p> 
        </div> 
      </a>
    </div>
  </section>

  <!-- EVENEMENTS -->
  <section>
    <!-- title -->
    <a routerLink="/event" routerLinkActive="active">
      <div class="title title-section">
        <h2>Événements</h2>
        <span class="icon icon-arrow-26"></span>
      </div>
    </a>

    <!-- GRID EVENEMENTS -->
    <!--<?php echo $evenements ?>-->
  </section>

  <!-- CAGNOTTES -->
  <section>
    <!-- title -->
    <a routerLink="/pool" routerLinkActive="active">
      <div class="title title-section">
        <h2>Cagnottes</h2>
        <span class="icon icon-arrow-26"></span>
      </div>
    </a>

    <!-- content cagnotte -->

    <!--<?php echo $cagnottes ?>-->
  </section>
</main>